# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Peter S. Stewart
email:
description: >- # this means to ignore newlines until "baseurl:"
  Quantitative Ecology and Conservation
#twitter_username: Peter_S_Stewart
github_username: Peter-Stewart
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Peter S. Stewart"
  avatar : "/assets/images/bio-pic-web.jpg"
  bio    : "Research Associate in Mathematical Ecology, University of Glasgow"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:peter.s.stewart@glasgow.ac.uk"
    #- label: "Twitter"
    #  icon: "fab fa-fw fa-twitter-square"
    #  url: "https://twitter.com/Peter_S_Stewart"
    #- label: "Mastodon"
    #  icon: "fab fa-fw fa-mastodon"
    #  url: "https://ecoevo.social/web/@Peter_S_Stewart"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Peter-Stewart"
    - label: "Google Scholar"
      icon: "fab fa-fw fa-google-scholar"
      url: "https://scholar.google.com/citations?user=bCXlfOMAAAAJ&hl=en"

header:
  image: /assets/images/header_resized.jpg

footer:
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:peter.s.stewart@glasgow.ac.uk"
    #- label: "Twitter"
    #  icon: "fab fa-fw fa-twitter-square"
    #  url: "https://twitter.com/Peter_S_Stewart"
    #- label: "Mastodon"
    #  icon: "fab fa-fw fa-mastodon"
    #  url: "https://ecoevo.social/web/@Peter_S_Stewart"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Peter-Stewart"

comments:
  provider: "disqus"
  disqus:
    shortname: "https-peter-stewart-github-io"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      toc: true
      toc_label: "Contents"
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
